* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Inter", sans-serif;
  color: #fff;
}

.container {
  background-color: #1c1c1c;
  display: flex;
  justify-content: center;
  align-items: center;
}

.background {
  background-color: #23252c;
  padding: 44px 116px;
}

.card {
  max-width: 317px;
  background-color: #1a1b21;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  padding: 0 35px;
}

.card-name {
  margin-top: 21px;
  margin-bottom: 6px;
  font-size: 25px;
}

.card-job {
  font-size: 13px;
  color: #f3bf99;
  margin-bottom: 9px;
}

.card-name,
.card-job,
.card-web {
  text-align: center;
}

.card-web {
  font-size: 10px;
  color: #f5f5f5;
  margin-bottom: 15px;
}

.btns {
  display: flex;
  justify-content: space-between;
  font-weight: 500;
  padding: 0 35px;
}
.btn:link,
.btn:visited {
  width: 115px;
  font-size: 14px;
  display: inline-block;
  padding: 9px 0px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
  gap: 8px;
}

.btn-linkedin {
  background-color: #5093e2;
  color: #fff;
}

.btn-email {
  background-color: #fff;
  color: #374151;
}

main {
  margin: 33px 0;
  display: flex;
  flex-direction: column;
  gap: 27px;
}

.main-title {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.main-paragraph {
  color: #dcdcdc;
  font-size: 10px;
  font-weight: 500;
  line-height: 1.5;
}

footer {
  padding: 20px 72px;
  background-color: #161619;
}

.img-list {
  display: flex;
  gap: 24px;
}
